header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container h1 {
    color: var(--color-primary);
}

/*============== CTA ============*/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.3rem;
    justify-content: center;
}

/*============== HEADER SOCIALS ============*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0.5rem;
    bottom: 2rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var (--color-primary);
}  

/*============== ME ============*/
.me {
    background: linear-gradient(var
    (--color-primary), transparent);
   width: 40rem;
   height: 50rem;
   position: absolute;
   left: calc(50% - 20rem);
   margin-top: 4rem;
   border-radius: 20rem 20rem 0 0;
   overflow: hidden;
   padding: 0 0 1.5rem 0;

}

.scroll__down {
    position: absolute;
    right: -2.0rem;
    bottom: 8rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/*============== MEDIA QUERIES (MEDIUM DEVICES) ============*/
@media screen and (max-width:1024px) {
    header{
        height:68vh;
    }
}

/*============== MEDIA QUERIES (SMALL DEVICES) ============*/
@media screen and (max-width:600px) {
    header{
        height:100vh;
    }

    .header__socials,
    .scroll__down{
        display: none;
    }
}
